@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&family=Special+Elite&display=swap");
*,
::before,
::after {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body {
	font-family: poppins;
	background-color: #d9d9d9;
}
